/**
 * Created by truncate on 2017/6/2.
 * Author: 带鞋拖地
 * QQ: 327056088
 *
 * 《寄人》· 张泌
 * 别梦依依到谢家，小廊回合曲阑斜。
 * 锄多情只有春庭月，犹为离人照落花。
 */

.right-box {
    flex:1;

    .editor-inner {
        min-height: 580px;
        padding: 0 20px 5px;
        background-color: #f4f5f9;
        border: 1px solid #e7e7eb;

        .menu-title-bar {
            padding: 9px 0;
            border-bottom: 1px solid #e7e7eb;
            overflow: hidden;

            .title {
                float: left;
                font-weight: 400;
            }

            .delete {
                text-align: right;
                a {
                    color: #459ae9;
                    text-decoration: none;
                }
            }
        }

        .menu-form-box {
            .msg-sender-tips {
                padding-top: 10px;
            }
        }

        .menu-form-group {
            margin-bottom: 10px;
            margin-top: 30px;
            padding-bottom: 0;

            .menu-form-item {
                margin-bottom: 24px;
                vertical-align: top;
                zoom: 1;

                .menu-form-item-label {
                    vertical-align: middle;
                    float: left;
                    font-size: 12px;
                    color: #495060;
                    line-height: 1;
                    padding: 10px 12px 10px 0;
                    box-sizing: border-box;
                }
            }
        }

    }
}


